.card{
    border: 4px solid purple;
    border-radius: 10px;
    display: inline-block;
}
.skills__title{
    text-decoration: underline;
    font-size: 25px;
}
.skills__name{
    display: inline-block;
}
.education__card{
    display: inline-block;
}
.education__title{
    text-decoration: underline;
    font-size: 25px;
    
}
.school__title{
    display: inline-block;
    margin-left: -35px;
}
.course__title{
    display: inline-block;
    
}
.education__date{
    display: inline-block;
    float: right;
}
.degree{
    margin-top: -10px;
    display: inline-block;
    margin-left: -15px;
    
}