@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato:ital,wght@0,400;1,100&family=Roboto:wght@300;400&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  margin: 20px;
  font-family: "Joan", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("./components/vibrant-pink-bkgrd.jpg");
  background-size: cover;
}